.footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    height: 60px;
}

.footer > * {
    margin: 0 .5rem;
    font-size: 32px;
    cursor: pointer;
}

.footer > *:nth-child(1) { color: #075e54 }
.footer > *:nth-child(2) { color: #3b5998 }

.footer > *:nth-child(3) {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    border-radius: 10px;
    color: #fff;
}
