.container {
    flex: auto;
    background-image: url(./background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.box {
    padding: 1rem;
    width: 50%;
    background: rgba(255,255,255,.8);
    border-radius: 5px;
}

@media screen and (max-width: 425px) {
	.container {
		justify-content: center;
	}	
	
	.box {
		width: 75%;
	}
}

@media screen and (max-width: 375px) {
	.box {
		width: 90%;
	}
}
